<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .header {
            background: black;
            height: 150px;
        }
        .footer {
            background: antiquewhite;
            font-size: 25px;
            text-align: center;
        }
        .sidebar {
            background: cadetblue;
            font-size: 25px;
            text-align: center;
            list-style-type: none;
        }
        .product {
            width: 150px;
            margin: 30px 20px 15px 15px;
            font-size: 20px;
        }
        .product img {
            width: 120px;
            height: 150px;
        }
        .product p a {
            margin: 10px 0 10px 0;
        }
        .product-title {
            margin: 20px 0 20px 0;
        }
    </style>
</head>
<body>
<div>
    <div class="header"></div>
    <div class="body-content row">
        <div class="sidebar col-2">@Html.Action("Index", "NhaXB")</div>
        <div class="content col-8">@RenderBody()</div>
        <div class="sidebar col-2">@Html.Action("Index", "TheLoai")</div>
    </div>
    <div class="footer">
        <p>Pham Van Phong</p>
        <p>MSV: 171210861</p>
        <p>CNTT1-K58</p>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
